NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_SITE_URL=

# NICEPAY: sandbox | production
NICEPAY_MODE=sandbox
NEXT_PUBLIC_NICEPAY_CLIENT_KEY=
NICEPAY_SECRET_KEY=
